.store-search {
    border-radius: 10px;
    cursor: pointer;
}
.new-user {
    border: none;
    color: #4A4A4B;
    background-color: #F8F9FA;
    cursor: pointer;
}

.jumbotron {
    background-image: url("../img/pizza.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;

}
.jumbotron h1 {
    text-align: center;
    background-color: lightgray;
    opacity: .6;
}

.btn-primary{
    background: none;
    color: blue;
    border: none;
}
.nav-item .active {
    border: grey;
    color: grey;
}
.badge-light {
    background: grey;
    color: white;
}
.card-header1{
    background-color: #007BFF;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: white;
    border-bottom: 1px solid rgba(0,0,0,.125);
}