* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: #C1C1C1;
    display: flex;
    justify-content: center;
}
ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav a {
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    padding: 1em;
}
nav a:hover {
    color: blue;
}
nav h2 {
    display: flex;
    font-size: 3em;
    padding: .2em 0;
    font-family: 'Montserrat', sans-serif;
}