* {
    box-sizing: border-box
}
body {
    margin: 0;
}
.alert-info {
    visibility: hidden;

}
img {
    max-height: 100%;
    max-width: 100%;
}
.nav-links {
    list-style-type: none;
}
@media screen and (max-width: 992px) {
    body {
        display: grid;
        height: 100%;
        grid-template-rows: 5% 10% 20% 20% 20% 20% 5%;
        grid-template-columns: 5% 90% 5%;

    }
    .alert-info {
        grid-area: 1 / 2 / 2 / 3;
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 95%;
        background-color: #CCFFFF;
        border: 1px solid grey;
        margin-left: 10px;
        margin-top: 35px;
    }

    h1 {
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-links {
        grid-area: 3 / 2 / 4 / 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    li {
        border: 1px solid grey;
        padding: 5px;
        margin-top: 10px;
        background: lightgray;
        width: 100%;
    }
    .header-img {
        grid-area: 4 / 2 / 5 / 3;
        height: 224px;
        width: 339px;
    }
   #main {
       grid-area: 5 / 2 / 6 / 3;
   }
    .sub-section {
        grid-area: 6 / 2 / 7 / 3;
    }
    footer {
        grid-area: 7 / 2 / 8 / 3;
    }
}
