:root {
    --bdr-radius: 10px;
    --brd: 1px solid lightgray;
    --margin-size: .5em 5em;
    --padding-size: 5px 0px 5px 10px;
    --box-sizing: border-box;

}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    background-color: #D0DEFC;
    color: #2F2E89;
    box-sizing: var(--box-sizing);
    border-radius: var(--bdr-radius);
    border: var(--brd);
    margin: var(--margin-size);
    padding: var(--padding-size);
}
.message-success {
    background-color: #D6F1DC;
    color: #4C7E54;
    box-sizing: var(--box-sizing);
    border-radius: var(--bdr-radius);
    border: var(--brd);
    margin: var(--margin-size);
    padding: var(--padding-size);

}
.message-warning {
    background-color: #FCFACE;
    color: #918138;
    box-sizing: var(--box-sizing);
    border-radius: var(--bdr-radius);
    border: var(--brd);
    margin: var(--margin-size);
    padding: var(--padding-size);
}
.message-error {
    background-color: #F4D4D7;
    color: #7C2A39;
    box-sizing: var(--box-sizing);
    border-radius: var(--bdr-radius);
    border: var(--brd);
    margin: var(--margin-size);
    padding: var(--padding-size);
}