/*TABLE OF CONTENTS
Section 1: page styles
Section 2: company message below main-header
Section 3: navigation menu
Section 4: core vision styles
Section 5: our process styles
Section 6: 2020 vision styles
Section 7: company vision styles
Section 8: our product styles
Section 9: register button in the footer section*/

/*Section 1*/
body {
    background-color: black;
    background-image: url("../img/veridian-logo.png"), url("../img/veridian-logo.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
    background-size: 70px, 70px;
    font-family: 'Federo', sans-serif;
    color: whitesmoke;
    background-attachment: fixed;
}

.main-header {
    font-weight: bold;
    background: -webkit-linear-gradient(whitesmoke, ghostwhite, turquoise, darkturquoise);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.header{
    color: black;
    background-color: darkturquoise;
    text-decoration: underline;
    text-align: center;
    width: 50%;
    height: 40px;
    padding-top: 10px;
    margin-left: 25%;
    border-radius: 10px;
}

hr {  /*Do not delete additional height or margin. Not sure why this works, but it does*/
    border: none;
    height: 20px;
    width: 90%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 0 20px 20px -20px whitesmoke;
    margin: -50px auto 10px;
}

p {
    text-align: center;
    font-size: 18px;
}

#coreValues, #ourProcess, #ourProcess, #ourProduct, #vision {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: initial;
    padding: 10px;
    list-style-type: square;
}

ol {
    display: inline-block;
    text-align: initial;
    padding: 10px;
    list-style-type: upper-roman;
}

/*Section 2*/
#secretMessage:hover {
    color: transparent;
}
#secretMessage:hover:before {
    color: red;
    margin-left: 25%;
    content: "Veridian Dynamics. Not even we know what we do.";
}

/*Section 3*/
table.buttonsCenter {
    margin-left:auto;
    margin-right:auto;
}

.buttons {
    width: auto;
    margin: 0 auto;
    text-align: center;
    background-color: darkturquoise;
    font-size:16px;
    color: black;
    text-decoration:none;
    border-radius: 10px;
    cursor: crosshair;
}

/*Section 4*/
#coreValuesInner {
    font-size: 20px;
    margin-bottom: 5%;
}

@-webkit-keyframes flip-horizontal-bottom {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}
@keyframes flip-horizontal-bottom {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}
.flip-horizontal-bottom:hover {
    -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    transition-delay: .3s;
    color: darkturquoise;
    list-style: disc;
}

/*Section 5*/
@-webkit-keyframes vibrate {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);

    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);

    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
.vibrate>li {
    list-style-image: url("../img/duck.png");
}

.vibrate {
    font-size: 18px;
    margin-bottom: 5%;
    -webkit-animation: vibrate 0.3s linear infinite both;
    animation: vibrate 0.3s linear infinite both;
}

/*Section 6*/
.winning {
    margin-bottom: 5%;
    font-size: 20px;
}
.winning:hover {
    color: transparent;
}

.winning:hover:before {
    content: url("../img/winning.jpg");
    display: block;
}

/*Section 7*/
#pictures {
    width: 50%;
    margin-left: 30%;
}

.img {
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 10px;
    cursor: crosshair;
}

.img:hover {
    box-shadow: 0px 0px 15px #EDF5E1;
    border-radius: 10px;
}

/*Section 8*/
th {
    text-decoration: underline;
    font-size: 18px;
    padding: 5px;
}

.grow {
    transition: all .2s ease-in-out;
    margin: 0px auto;
    padding: 10px;
}

.grow:hover {
    transform: scale(2);
    background-color: darkturquoise;
    color:black;
    font-family: 'Federant', cursive;
    font-weight: bold;
    box-shadow: 0px 0px 15px #EDF5E1;
    border-radius: 10px;
}


/*Section 9*/
#button{
    background-color: darkturquoise;
    font-size:16px;
    color: black;
    transition: all 0.3s ease-in-out;
    text-decoration:none;
    border-radius: 10px;
    width: 23%;
    margin-left: 38%;
}

#button:hover {
    text-shadow: 1px 0px 20px #EDF5E1;
    animation: bounce 1.5s;
    color: #05386B;
    background-color: whitesmoke;
    cursor: crosshair;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}








