@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
body {
  text-align: center;
  margin: 1em;
  font: 1.4em "Press start 2P";
  font-weight: 700;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
* {
  box-sizing: border-box;
}
div {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  padding: .4em 1.3em;
}
hr {
  height: 10px;
  visibility: hidden;
}
@mixin step1( $width, $color ) {
  box-shadow:
          $width 0 $color,
          -$width 0 $color,
          0 (-$width) $color,
          0 $width $color;
  margin: $width auto;
}

@mixin step2v2( $width, $color, $bgcolor ) {
  box-shadow:
          $width 0 $bgcolor,
          -$width 0 $bgcolor,
          0 (-$width) $bgcolor,
          0 $width $bgcolor,
          2*$width 0 $color,
          -2*$width 0 $color,
          0 (-2*$width) $color,
          0 2*$width $color,
          0 0 0 $width $color;
  margin: 2*$width auto;
}

@mixin step3v2( $width, $color, $bgcolor ) {
  box-shadow:
          $width 0 $bgcolor,
          -$width 0 $bgcolor,
          0 (-$width) $bgcolor,
          0 $width $bgcolor,
          2*$width 0 $bgcolor,
          -2*$width 0 $bgcolor,
          0 (-2*$width) $bgcolor,
          0 2*$width $bgcolor,
          0 0 0 $width $bgcolor,
          3*$width 0 $color,
          -3*$width 0 $color,
          0 3*$width $color,
          0 (-3*$width) $color,
          0 (-$width) 0 $width $color,
          0 $width 0 $width $color,
          $width 0 0 $width $color,
          -$width 0 0 $width $color;
  margin: 3*$width auto;
}
@mixin step4( $width, $color, $bgcolor ) {
  box-shadow:
          $width 0 $bgcolor,
          -$width 0 $bgcolor,
          0 (-$width) $bgcolor,
          0 $width $bgcolor,
          2*$width 0 $bgcolor,
          -2*$width 0 $bgcolor,
          0 (-2*$width) $bgcolor,
          0 2*$width $bgcolor,
          0 0 0 $width $bgcolor,
          3*$width 0 $bgcolor,
          -3*$width 0 $bgcolor,
          0 3*$width $bgcolor,
          0 (-3*$width) $bgcolor,
          0 (-$width) 0 $width $bgcolor,
          0 $width 0 $width $bgcolor,
          $width 0 0 $width $bgcolor,
          -$width 0 0 $width $bgcolor,
          4*$width 0 $color,
          -4*$width 0 $color,
          0 (-4*$width) $color,
          0 4*$width $color,
          2*$width 0 0 $width $color,
          -2*$width 0 0 $width $color,
          0 2*$width 0 $width $color,
          0 (-2*$width) 0 $width $color,
          0 0 0 2*$width $color;
  margin: 4*$width auto;
}
@mixin other( $width, $color, $bgcolor ) {
  box-shadow:
          4*$width 0 $bgcolor,
          -4*$width 0 $bgcolor,
          0 (-4*$width) $bgcolor,
          0 4*$width $bgcolor,
          $width 0 0 2*$width $bgcolor,
          -$width 0 0 2*$width $bgcolor,
          0 (-$width) 0 2*$width $bgcolor,
          0 $width 0 2*$width $bgcolor,
          5*$width 0 $color,
          -5*$width 0 $color,
          0 (-5*$width) $color,
          0 5*$width $color,
          0 0 0 3*$width $color,
          0 2*$width 0 2*$width $color,
          0 (-2*$width) 0 2*$width $color,
          2*$width 0 0 2*$width $color,
                  (-2*$width) 0 0 2*$width $color;
  margin: 5*$width auto;
}
#cards{
  display: flex;
}
#card {
  @include other( 4px, black, black );
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 400px;
  height: 555px;
  text-shadow: white 2px 2px 2px;
}
#card2 {
  @include other( 4px, black, black );
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 400px;
  height: 555px;
  overflow: scroll;
  text-shadow: white 2px 2px 2px;
}
#card3 {
  @include other( 4px, black, black );
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 400px;
  height: 555px;
  overflow: scroll;
  text-shadow: white 2px 2px 2px;
}
#map {
  width: 80vw;
  height: 700px;
}
